# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment folders
venv/
.env

# Ignore test cache
.pytest_cache/

# Key nameß

# Ignore IDE files (optional)
.vscode/
.idea/

# Ignore compiled / build output
*.egg-info/
dist/
build/

.venv
qualified-root-474022-u3-a97670d29036.json
