# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment folders
venv/
.env

# Ignore test cache
.pytest_cache/

# Key name
subtle-harmony-471723-f2-3aeb912f9a0d.json

# Ignore IDE files (optional)
.vscode/
.idea/

# Ignore compiled / build output
*.egg-info/
dist/
build/
